
/*.bg { width: 100%; height:775px; background: url(../images/bg.png) no-repeat; background-size: 100% 100%; position: relative;}*/
html,
body { height: 100%; font:16px/1.2 'Ubuntu','Ubuntu local',Arial,sans-serif; } 

ul { margin: 0px; padding: 0px; }
ul li { margin: 0px; padding: 0px;}


.image-upload > input
{
    display: none;
}

.image-upload img
{
    /*width: 80px;*/
    cursor: pointer;
}
.top_header { width: 100%; background-color: #b40b63; padding: 10px; }
.social_icon { float: left;}
.social_icon  ul { list-style: none; margin: 0px; padding: 0px; color: #fff; }
.social_icon  ul li {float: left; margin-left: 15px;}
.social_icon  ul li:first-child { margin-left: 0px; }


.login_bg { float: right; color: #fff;}

.languagebg { float: left;margin-right:20px; }
.languagebg span { font-family:'Bliss Pro', Helvetica, Arial, sans-serif; color: #fff; font-size:14px; }


.login { float: left;}
.login samp { font-family:'Bliss Pro', Helvetica, Arial, sans-serif;  color: #fff; font-size:14px;  }

.login_box  {width: 200px; background-color: #fff; height: 156px;z-index: 99999999;position: absolute;padding: 5px; border-radius: 3px;float: right;box-shadow: 2px 2px 5px #000; right: 14%;top: 44px;}

#txtLogin { width: 100%; color: #ccc; font-size: 12px; background:url(../images/user.png) no-repeat #fff; padding-left: 27px;  box-shadow: 0px -3px 5px #888888; background-position:4px;}
#txtPassword { color: #ccc;  width: 100%; color: #ccc; font-size: 12px; background:url(../images/pass.png) no-repeat #fff; padding-left: 27px;  box-shadow: 0px -3px 5px #888888; background-position:4px;}
.login_box a { font-size: 12px; color: #819CD7; }
.loginbtn { background-color: #b40b63; box-shadow: 1px 1px 4px #000;}



.main_header {  padding:20px; min-height:653px ;background: url(../images/background_img.png) no-repeat;}

.sub_top { padding: 30px 0px; }
.logo { float: left; }
.top_nav { float: right;}
.top_nav ul { list-style: none; margin: 0px; padding: 0px; }
.top_nav ul li { float: left; margin-right:20px; }
.top_nav ul li:last-child {margin-right:0px; }
.top_nav ul li a{ color: #000; text-decoration: none;font-family: arial; font-size: 17px;  }





.formbg {padding: 2% 4% 1% 4%;opacity: 0.9;float: right;background-color: #e6c2c2;border-radius: 8px;border: 1px solid #dea9b2;width:46%; color:#b40b63; font-family:Raavi; font-size: 14px;}
.datefield { 
    display: inline; 
    padding: 0.3em; 
    border: inset 1px #CCC; 
    background: #FFF; 
    border-radius: 4px;
    color: #666;
}

.datefield * { 
    display: inline-block;
}

.datefield input { 
    width: 2.7em; 
    padding: 0 0.4em; 
    border: none; 
    font-size: 100%; 
    background: none;
    color: #000;            
}

.datefield input#year { width:3.5em; }
.datefield input:focus { outline:none; }

/*.formbg samp {color:#b40b63;float: right;position: relative;left: 108px;top: -29px;font-family:'Trebuchet MS',Helvetica,sans-serif; }
.birth { color: #fff; font-family:'Trebuchet MS',Helvetica,sans-serif; font-size: 18px; width:19.9%; text-align: right; margin-right:9px;}
.textformate { color: #fff; font-family:'Trebuchet MS',Helvetica,sans-serif; font-size: 18px; width: 29%; text-align: right; margin-right: 2%; background-color: #000;}
input, select, textarea { width:66%; border-radius: 3px; border: none; height:28px; margin-bottom:18px; background-color: #f2f3f2;}
.small {color: #fff; font-family:'Trebuchet MS',Helvetica,sans-serif; font-size: 18px; width:47%; text-align: right; margin-right: 2%;}
.textformated { color: #fff; font-family:'Trebuchet MS',Helvetica,sans-serif; font-size: 18px; width:48%; text-align: right; margin-right: 2%; }
.verify {  color: #fff;font-family: 'Trebuchet MS',Helvetica,sans-serif; font-size: 14px;text-align: left; float: right;}
*/

.ragister {background-color: #b40b63;border: none;border-radius: 4px;color: #fff;font-family: Utsaah;font-weight: bold;font-size:33px;text-transform: uppercase;margin:0% 20% 0% 40%;}
.ragister:hover { color: #f7dae9; }
/*
.form-group { width: 100%! important; }

.form-control { width:70% !important; height:30px !important; margin-top: 5px! important;}

label { width:28% !important; background-color: #000 !important; color: #b40b63 !important; text-align: left! important; }

.cell { width:22% !important; }

.form-inline .radio input[type="radio"], .form-inline .checkbox input

[type="checkbox"] {margin-top: 57px!important;}




.information { margin: -29px 0px 0px 80px;  }
.information span {  color: #000;}
.form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] { margin-left: 46px;}*/

/*.photo {margin-left: 60px; width:180px !important;}*//*
.fileUpload {position: relative;overflow: hidden;margin:5px;}*/
.fileUpload .upload { position: absolute;top: 0; right: 0; margin: 0;padding: 0;font-size: 20px; cursor: pointer; opacity: 0;filter: alpha(opacity=0);}

.footerbg { background-color: #b40b63; padding:30px 0px; width: 100%; text-align: center; }
.footerbg span { color: #fff; }











.sub_heading { margin:20px 0px; }

.matter { /*min-height:653px;*/ border-top: 1px solid #b40b63;  padding-top: 30px;}
.matter span { color: #000; font-family: Goudy Old Style; font-size: 22px; font-weight: bold; clear: both; }

.pic_bg { border:1px solid #000; }














.middle { min-height: 653px; }







/*margin-top: 100px;
            font-family: 'Trebuchet MS', serif;
            line-height: 1.6
        }*/
   /*     .container{
            width: 800px;
            margin: 0 auto;
        }
*/


        ul.tabs{
            margin:0px;
            padding: 0px;
            list-style: none;
        }
        ul.tabs li{
            background: none;
            color: #fff;
            display: inline-block;
            cursor: pointer;
            background: #b40b63;
           margin:  0% 2.7% 1% 0%;
           min-width: 16%;
            text-align: center;
            line-height:370%;}


    ul.tabs li:last-child { margin-right: 0px !important;}



        ul.tabs li.current{
            background: #b40b63;
            color: #fff;
        }

        .tab-content{
            display: none;
            background:#f6f6f6;
            padding: 20px;
            margin-bottom: 10px;
            float: left;
            width: 100%;
            border:1px solid #e8e8e8;
        }

        .tab-content.current{
            display: inherit;
        }


.save { float: right; background-color: #bb0000; margin-bottom: 33%; padding: 8% 0%;     width: 80%;}
.save:last-child {margin-bottom: 0%;}
.more_job { float:left; background-color: #bb0000; padding:1.3% 2.5%; margin: 10px 0px 40px 0px;}

.isactive {margin: 0 24px 1px;
    padding: 1px 0 0;
    box-shadow: 0 3px 0 #42a5f5;}

.small_box { float: left; margin-right:180px; padding: 10x;}

/*.thikmark { width: 16px; height: 16px; background-color: #000; float: left; margin-right: 12px !important;}*/
.js-material-button { font-family:Goudy Old Style !important; font-size:15px; color:#443A3A; margin-left: 18px !important;}


.pixbg { width: 100%;float: left; margin-bottom:5%;}
.pixbox {min-height: 278px;position:relative;width:17%; border:2px solid #ccc; float: left;  margin-right: 3%; border-radius:1.5%; text-align: center;    margin-bottom: 5%;/*padding-bottom:1%;*/}
.pixbox:last-child { margin-right:0%;}
.pixbox:last-child { margin-right:0%;}

/*.pixbox{margin-bottom: 5%;width: 17%;border: 2px solid #ccc;float: left;margin-right: 3%;border-radius: 1.5%;text-align: center;}*/

.pixbox span { font-family: arial black; color: #3e3c3a;  }
.pixbox samp { font-family: arial; color: #86827d; }
.textbg { float: left; width: 100%; margin:10% 0%; }

.sub_heading samp { font-family: arial black; color: #000; font-size:14px;}
.sub_heading span { font-family:Myriad Pro; color: #000; font-size:25px; font-weight: bold;}

.advertisement span{font-family:Myriad Pro; color: #000; font-size:24px; font-weight: bold;}
.advertisement samp{font-family:Myriad Pro; color: #000; font-size:16px;}

.location_bg { padding: 2% 5% 1% 3%;
    opacity: 0.9;
    float: right;
    border-radius: 8px;
    border: 1px solid #dea9b2;
    width: 100%;
    color: #b40b63;
    font-family: Raavi;
    font-size: 14px;
    margin: 30px 0px;}

.page { position: relative;
background-color: #000;
left: 50%;}


.squaredFour {
  width: 20px;
  position: relative;
  margin: 20px auto;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.5;
    }
  }
  input[type=checkbox]  {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }    
}
/* end .squaredFour */


/*.hid {float: right; background-color: #bb0000; width: 50%; margin: 10% 0%;}
*/
.save_profile { float: right; background-color: #bb0000; padding:1.3% 2.5%;}


select {-moz-appearance: none;text-indent: 0.01px;text-overflow: '';}
.uplaod_bg { float: right; margin-top: 30px;}
.upload { float: right; width: 100%; height: 20%;  }
.job { float: right; background-color: #bb0000; padding: 4.3% 5.5%;}
.upload_pic { background-color: #cbc6c6; float:right;  text-align: center; padding:40px 20px; margin:28px 0px; }

.buton_bg { float: right;width: 17%;}

.pic_close{color: red;position: absolute;z-index: 9999999;right: 5%; border: none;display: none;}
.profile_pixbox:hover .pic_close { display: block; }
.profile_pixbox:hover{ border:1px solid red; }




 font-family: Arial, sans-serif;
  background: url(http://www.shukatsu-note.com/wp-content/uploads/2014/12/computer-564136_1280.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #000;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


.Capricorn { float: left; width: 100%; margin-bottom:5%; }
.Capricorn span { color: #000; float: left; font-family:arial black; width: 45%;}
.Capricorn samp {  color: #000; float: right; font-family:arial black; width: 45%;}


.pixbox1 {
    width: 21%;
    border: 2px solid #ccc;
    float: left;
    margin-right: 4%;
    border-radius: 1.5%;
    text-align: center;}


.lifestyle_bg { width: 95%;  float: left; margin-bottom:5%; text-align: center;}

.lifestyle { float: left; width:15%; margin-left:6.2%;}
.lifestyle:first-child { margin-left: 0%; }

.sent_btn { background-color: #ce0e88;
padding: 5% 28%;
border: none;
color: #fff;
font-size: 16px;
font-weight: bold; width: 100%;}
.voice { color: #ce0e88}




.mail_bg {float: left; width: 100%; }
.mail_bg  .mail_pic { width: 25%; float: left; border:1px solid #b40b63; margin:0% 12.5% 5% 0%; }
.mail_bg  .mail_pic:last-child  { margin-right: 0%; }


.page1 {background-color: #000;margin: 200px 0px 20px -550px;float: left;}

.lines {border-right: 2px solid rgb(180, 11, 99); float: left;}












.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  background-color: #BDBDBD;
  height: 200px;
  width: 200px;
  text-align: center;
}
.dummy_pixbox input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
  text-align: center;
}
.custom-span{ font-family: Arial; font-weight: bold;font-size: 100px; color: #FE57A1}
#file{border: none;width: 100%;}
.custom-para{font-family: arial;font-weight: bold;font-size: 24px; color:#585858;}


.dummy_pixbox{background-color: #BDBDBD;position:relative;width:17%; border:2px solid #ccc; float: left; /* margin-right: 3.7%;*/ border-radius:1.5%; text-align: center;padding: 3.8%;}
/*.dummy_pixbox:last-child { margin-right:0%;}*/

#profile_pic > .profile_pixbox:first-child > #detele_image { display: none;  }


.profile_pixbox {position:relative;width:17%; border:2px solid #ccc; float: left;  margin-right: 3%; border-radius:1.5%; text-align: center;min-height: 278px;    margin-bottom: 5%;/*padding-bottom:1%;*/}
.profile_pixbox:last-child { margin-right:0%;}

/*.pixbox{margin-bottom: 5%;width: 17%;border: 2px solid #ccc;float: left;margin-right: 3%;border-radius: 1.5%;text-align: center;}*/

.profile_pixbox span { font-family: arial black; color: #3e3c3a;  }
.profile_pixbox samp { font-family: arial; color: #86827d; }
.perpage-link{padding: 5px 10px;border-radius: 4px;margin:0px 5px;background:#b40b63;color: #fff;cursor: pointer;}
.current-page{padding: 5px 10px;border-radius: 4px;margin:0px 5px;background:#000;color: #fff;}


